{% extends "layout.html" %}

{% block content %}
<div class=" jumbotron pt-3 pb-1" style="filter:alpha(opacity=70); opacity:0.7;">

<h3> This is a small program to scrape pictures from the NASA sites and present information
    to the user.  Information on the links below</h3>
    <ul class = "mabout">
        <li ><strong>Refresh Background</strong> to grab a new picture</li>
        <li>Click on the navigation link <strong>Latest News</strong> link to see what is in the news</li>
        <li>Clock on the navigation link <strong>Mars Hemispheres</strong> link to resfresh</li>
        <li><strong>Mars Data</strong> navigation link will get you data on Mars</li> 
        <li>Click <a href="/">Here</a> to get back to the front page</li>   
    </ul>
</div>
{% endblock content %}