{% extends "layout.html" %}

{% block content%}
    <h1 class="mtitle">Mars Hemispheres</h1>
        <div class="row">
            <div class="col-lg-12 float">
                <div class="card-deck">
                {% if pictures %}
                    {% for pic in pictures %}


                        <div class="card my-2 mr-1" >
                            <div class="card-body">
                                <img class="card-img-top" src="{{ pic.url }}" alt="{{pic.title}}" width="100%">
                                <h5 class="card-title">{{pic.title}}</h5>
                            </div>
                        </div>



                    {% endfor %}               
                {% endif %}
                </div>
            </div>
        </div>
{% endblock content %}